---
layout: default
title: Michal Lukasik
picture: i
news:
  -
    > 
      Since late October 2016 until February 2017, I was a research intern at Max Planck Institute for Software Systems in Germany. I was working on maximizing visibility in social networks using submodular optimization under supervision of <a href=http://www.mpi-sws.org/~manuelgr/index.html>Manuel Gomez-Rodriguez</a>.
  -
    >
      During summer 2016 I was a Phd Intern in Google Research in New York. I was working on a deep learning backend behind Google Docs Explore under supervision of <a href=http://www.rzens.com/>Richard Zens</a>.
    
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Michal Lukasik</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      Google Research<br/>
    </div>
    <div class="col-sm-4">
      <a href="https://scholar.google.co.uk/citations?hl=en&user=cLZLZCQAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/mlukasik">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
    </div>
  </div>
</div>

<p>
I am a researcher in Google Research in New York, where my focus is on improving large scale machine learning models, with practical implications of improving Ads products at Google.
</p>
<p>
My research interests include large language models, natural language processing and deep retrieval.
</p>
</p>

<h4>News</h4>
<li>
I am co-organizing the workshop on Scaling Behavior of Large Language Models (SCALE-LLM 2024) colocated with EACL 2024.
</li>
</ul>

<h4>Recent Publications</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


