---
layout: default
title: Michal Lukasik
picture: i
news:
  -
    > 
      Since late October 2016 until February 2017, I was a research intern at Max Planck Institute for Software Systems in Germany. I was working on maximizing visibility in social networks using submodular optimization under supervision of <a href=http://www.mpi-sws.org/~manuelgr/index.html>Manuel Gomez-Rodriguez</a>.
  -
    >
      During summer 2016 I was a Phd Intern in Google Research in New York. I was working on a deep learning backend behind Google Docs Explore under supervision of <a href=http://www.rzens.com/>Richard Zens</a>.
    
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>Michal Lukasik</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      Google Research<br/>
    </div>
    <div class="col-sm-4">
      <a href="https://scholar.google.co.uk/citations?hl=en&user=cLZLZCQAAAAJ">
        <img src="img/ico/gs.png" alt=""/>
      </a> Google Scholar<br/>
      <a href="http://github.com/mlukasik">
        <img src="img/ico/github_icon.png" alt=""/>
      </a> Github
    </div>
  </div>
</div>

<h4>About Me</h4>
<p>
I am a Research Scientist at Google Research, New York. I work on research in machine learning and LLMs with applications on Google products.
</p>

<h4>Research Interests</h4>
<ul>
<li>LLMs for regression and scoring task.</li>
<li>Loss functions, e.g. ranking, distillation, label smoothing.</li>
<li>Fundamental properties of deep learning, e.g. memorization, bias-variance.</li>
</ul>

<h4>News and Highlights</h4>
<ul>
<li>Action Editor (equivalent to an Area Chair) for ACL and EMNLP 2024-2025 in the Machine Learning for NLP track.</li>
<li>Co-organized the workshop on Scaling Behavior of Large Language Models <a href=https://scale-llm-24.pages.dev/>SCALE-LLM 2024</a> co-located with EACL 2024.</li>
<li>Reviewer for ICML, ICLR, Neurips 2020-2025. Outstanding reviewer ICML 2022 (top 10%).</li>
</ul>

<h4>Selected Representative Publications</h4>
{% for post in site.papers %}
  {% if post.selected %}
    {% include paper.html paper=post %}
  {% endif %}
{% endfor %}


